<%-include('common/header');-%>
<%-include('common/loginnav');-%>
    <div class="container">
        <div class="form">
        <form method="GET" action="/yourresult" id="checkresult">
            <div class="form">
            <b>Check your result here...</b><br><br>
            Roll No:<input type="number" id="RollNo" value="rollno" name="RollNo"><br><br>
            Name: <input type="text" id="Name" name="Name"><br><br>
            <button type="Submit" class="btn-primary" id="myBtn">Submit</button></a>
        </form>
    </div>
    </div>
<%-include('common/footer');-%>