<%-include('common/header');-%>
<%-include('common/nav');-%>
    <div class="row">
    <form action="/login" class="box" method="post"><center>
        <h3>Login</h3>
        <input type="text" placeholder="Enter username" name="username"><br><br>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
    </form>
    </div>
<%-include('common/footer');-%>